.container {

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 100%;
}

a { 
    cursor: pointer;
}