.App {
  text-align: center;
  /* max-width: 1200px; */
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
}


